<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %>

  <body class="result">

    <%- include('./partials/header') %>
      <main>

        <h1>UserProfile</h1>

        <h2>Hi <%= user.name %>
        </h2>
        <img width="300" height="250" src="/images/avatars/<%= user.avatar %> ">


      </main>


      <!-- FOOTER -->
      <%- include('./partials/footer') %>
  </body>

</html>